<ion-view view-title="{{ 'dashboard' | translate}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider item-icon-left">
    <i class="icon ion-ios-calendar-outline"></i>
      Recent Updates</div>
      <div class="item item-body">
        <div>
          Registered successfully for Aug-Dec Semester, Reference Number <b>#49349</b>
        </div>  
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-icon-left">
    <i class="icon ion-university"></i>
      Current Year</div>
      <div class="item item-body">
        <div>
          You are in 4<sup>th</sup> Year, 1<sup>st</sup> Semester!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider item-icon-left">
    <i class="icon ion-ios-calendar-outline"></i>
      Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>4</b> CATs on your calendar this week.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
